<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projet.easimmo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.util.GlobalVar"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.PropertiesActivity"
            android:label="@string/title_activity_properties"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.EditPropertyActivity"
            android:label="@string/title_activity_edit_property"
            android:parentActivityName=".ui.activities.PropertiesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projet.easimmo.ui.activities.PropertiesActivity" />
        </activity>
        <activity android:name=".ui.activities.PropertyActivity" />
        <activity android:name=".ui.activities.EDLActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projet.easimmo.ui.activities.PropertyActivity" />
        </activity>
        <activity
            android:name=".ui.activities.EditRoomActivity"
            android:label="@string/title_activity_edit_room"
            android:parentActivityName=".ui.activities.PropertiesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projet.easimmo.ui.activities.PropertyActivity" />
        </activity>
        <activity android:name=".ui.activities.EDLDetailActivity"></activity>
    </application>

</manifest>